html {
    font-size: 1em;
    font-family: $root-font-families;
    color: $light-foreground;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    @include for-tablet-landscape-up {
        font-size: 0.9em;
    }
}

body {
    margin: 4vh 0;
    background-color: $light-background;
}

header {
    margin-bottom: 2rem;
}

h1, h2, h3, h4, p, ul, ol, figure, blockquote, .post-details {
    margin: 0 0 1rem 0;
}

h1, h2, h3, h4 {
    letter-spacing: -0.1rem;
}

h2, h3, h4 {
    margin-top: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p, ul, ol, figure, blockquote {
    letter-spacing: -0.02rem;
    font-size: 1.1rem;
    line-height: 1.6;
}

code, pre {
    margin: 0;
    font-family: $code-font-families;
}

p > code {
    padding: 0.2rem 0.4rem;
    background-color: $light-figure-background;
}

figure, blockquote {
    padding: 1rem 1.5rem;
    background-color: $light-figure-background;
    overflow: scroll;
}

blockquote > p {
    margin-bottom: 0;
    font-style: italic;
}

.post-metadata {
    color: $light-accent-foreground;
}

.post-details h3 {
    margin: 0;
}

footer {
    margin: 3rem 0 0 0;

    h5 {
        margin: 0.3rem 0;
    }

    p {
        font-size: 0.9rem;
    }

    .disclaimer p {
        margin-bottom: 0;
    }
}
