---
layout: default
title: Hello There
kind: home
excerpt: This is my personal site containing thoughts, ideas, and projects; all of these may be entirely useless.
---

<h1>{{ page.title }}</h1>
<div class="paragraph">
    <p>
        {{ page.excerpt }} Still, you may enjoy starting with one of these tags:
        {% for tag in site.tags -%}
        <a class="tag" href="/tag/{{ tag[0] }}">{{ tag[0] }}</a>
            {%- if forloop.index < forloop.length -%}, {% endif -%}
        {% endfor %}.
    </p>
</div>
<h2>Recent Writing</h2>
<div class="ulist">
    <ul class="post-listing">
        {% for p in site.posts %}
        <li class="post-details">
            <h3><a href="{{ p.url }}">{{ p.title }}</a></h3>
            {% include post_metadata.html post=p %}
        </li>
        {% endfor %}
    </ul>
</div>
