<header>
    <a href="/" alt="Home">
        <div class="logo">
            <img src="/assets/images/logo.svg" />
            <div>
                <span>tiny</span>
                <span>chameleon</span>
            </div>
        </div>
    </a>
    <ul>
    {%- for entry in site.data.sitenav %}
        <li>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
            {%- if forloop.last == false -%}&nbsp;&middot;&nbsp;{%- endif -%}
        </li>
    {%- endfor %}
    </ul>
</header>
