{%- assign links = include.path | basename | series_index: include.series %}
{%- assign name = site.data.post_series[include.series].name %}
<div class="series-note">
    <div class="content">
        <div class="paragraph"><strong>{{ name }} Series</strong></div>
        <div class="ulist">
            <ul>
                {%- if links.prev %}
                <li><a href="{% link _posts/{{ links.prev }}.adoc %}">Previous Entry</a></li>
                {%- endif %}
                {%- if links.next %}
                <li><a href="{% link _posts/{{ links.next }}.adoc %}">Next Entry</a></li>
                {%- endif %}
            </ul>
        </div>
    </div>
</div>
