html {
    font-size: 1em;
    font-family: $root-font-families;
    color: $light-foreground;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    @include for-tablet-landscape-up {
        font-size: 0.9rem;
    }
}

body {
    margin: 4vh 0;
    background-color: $light-background;
}

h1, h2, h3, h4, .paragraph, .ulist, .olist, .listingblock, .literalblock, .quoteblock, table, .post-details, .post-metadata, .series-posts, .post-timeline-links {
    margin: 0 0 1rem 0;
}

// AsciiDoc wraps a lot of p tags in other semantic divs
p { margin: 0; }

h1, h2, h3, h4 {
    letter-spacing: -0.1rem;
}

h2, h3, h4, h5 {
    margin-top: 2rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }

h5 {
    margin: 0;
}

.post-timeline-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    div:last-child {
        margin-top: 1rem;
    }
}

.paragraph, .ulist, .olist, .listingblock, .literalblock, .quoteblock, table, #footnotes, header > ul, .series-posts, .post-timeline-links {
    letter-spacing: -0.02rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.listingblock, .literalblock, code {
    font-size: 1.07rem;
}

#footnotes {
    font-size: 1.07rem;

    @include for-tablet-landscape-up {
        font-size: 1rem;
    }

    .footnote {
        margin-bottom: 0.5rem;

        code {
            font-size: 0.97rem;
        }

		a {
		    text-decoration: none;

		    @include for-tablet-portrait-up {
                text-decoration: underline;
		    }
		}
    }

    hr {
        margin-bottom: 1rem;
        border: none;
        border-top: 1px dashed $light-foreground;
    }
}

code, pre {
    margin: 0;
    font-family: $code-font-families;
}

:not(pre) > code {
    padding: 0.2rem 0.4rem;
    background-color: $light-figure-background;
}

.quoteblock, .listingblock, .literalblock {
    line-height: 1.6;
    background-color: $light-figure-background;
    border-left: 0.2rem solid $primary-accent-colour;
}

.quoteblock, .listingblock, .literalblock, :not(pre) > code {
    border-radius: 0.2rem;
}

.listingblock, .literalblock {
    .content {
        display: flex;
        padding: 1rem 1.5rem;
        overflow-x: auto;
    }

    .title {
        margin: 0 1rem;
        padding: 1rem 0.5rem 0.95rem;
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0.02rem;
        color: $listing-header-colour;
        border-bottom: 1px solid $table-border-colour;
        text-transform: uppercase;

        a {
            float: right;
        }
    }

    pre {
        padding-right: 1.5rem;
    }
}

.quoteblock {
    blockquote {
        margin: 0;
        padding: 1rem 1.5rem;
    }

    .paragraph:last-of-type {
        margin-bottom: 0;
    }

    .attribution {
        margin: 0 1rem;
        padding: 1rem 0.5rem;
        color: $listing-header-colour;
        font-size: 1rem;
        font-style: italic;
        text-align: right;
        border-top: 1px solid $table-border-colour;
    }
}

table.tableblock {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;

    caption.title {
        text-align: left;
    }

    thead th, tbody td {
        padding: 0.2rem 1rem;
    }

    thead th {
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid $table-border-colour;
        border-right: 1px solid $table-border-colour;

        &:last-child {
            border-right: none;
        }
    }

    tbody td {
        border-top: 1px solid $table-border-colour;
        border-right: 1px solid $table-border-colour;

        &:last-child {
            border-right: none;
        }
    }

    tbody tr:nth-child(odd) {
        background-color: $light-figure-background;
    }
}

.post-metadata {
    color: $light-accent-foreground;
}

.post-details h3 {
    margin: 0;
}

a {
    color: $primary-accent-colour;

    &:hover { color: $secondary-accent-colour; }
    &.tag:before { content: '#'; }
}

footer {
    margin-top: 3rem;
    text-align: center;

    h5 { margin: 0.3rem 0; }
    p { font-size: 0.9rem; }
}
