main, header, footer {
    padding: 0 4vw;

    @include for-tablet-portrait-up {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 90%;
    }

    @include for-tablet-landscape-up {
        max-width: 68ch;
    }
}
