// The logo stylings purposefully avoid relative units due
// to the text alignment with the SVG imagery.

.logo {
    display: flex;
    align-items: center;

    > img {
        flex: 0 0 auto;
        width: 100px;
    }

    > div {
        font-family: $logo-font-family;
        font-size: $logo-font-size;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 20px;
        border-bottom: 4px solid $tertiary-accent-colour;
        padding: 0 8px 3px 0;
        margin: -23px 0 0 -2px;

        > span:first-child {
            color: $primary-accent-colour;
            display: block;
        }

        > span:last-child {
            color: $secondary-accent-colour;
            display: block;
            margin-left: 4px;
        }
    }
}
