main.error-not-found {
    text-align: center;

    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.6rem;
    }

    .error-emoji {
        font-size: 3rem;
        line-height: 1.2;
    }
}
