<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ .Summary }}">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:image" content="{{ "/images/ogshare.png" | absURL }}">
        <meta property="og:description" content="{{ .Summary }}">
        <meta property="og:type" content="website">
        <title>{{ block "title" . }}{{ .Title }}{{ end }} &mdash; {{ .Site.Title }}</title>
        {{ $css := resources.Get "css/main.scss" | toCSS | minify }}
        <link rel="stylesheet" media="screen" href="{{ $css.RelPermalink }}">
        <link rel="icon" href="/images/favicon.ico">
        <link rel="alternate" type="application/rss+xml" href="/rss.xml">
    </head>
    <body>
        {{ partial "header" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "navigation" . }}
        {{ partial "footer" . }}
    </body>
</html>
