{{ define "main" }}
<main>
    <article class="writing">
        <h1>{{ .Title }}</h1>
        <span>{{ partial "date" .Date }}</span>
        {{ .Content }}
    </article>
    <aside class="post-tags">
        <span>tags:</span>
        <ul class="tags">
        {{ range .Params.tags | sort }}
            <li><a href="{{ print "/tags/" . "/" | relURL }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </aside>
    <aside class="more-writing-links">
        {{ with .PrevInSection }}
        <div class="directional-link">
            previous: <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
        <div class="spacer"></div>
        {{ with .NextInSection }}
        <div class="directional-link">
            next: <a href="{{ .RelPermalink }}" style="text-align: right">{{ .Title }}</a>
        </div>
        {{ end }}
    </aside>
</main>
{{ end }}
