/** Font Face Definitions **/

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Mono&display=swap');

/** Typographic Variables **/

$text-background: #fdfdfd;
$text-colour: #0c0c0c;
$prose-family: Bitter, serif;
$code-family: 'IBM Plex Mono', monospace;

$text-size: 14pt;
$text-line-height: 1.7;
$tablet-text-size: 13pt;
$tablet-text-line-height: 1.8;

$code-size: 13pt;
$tablet-code-size: 11pt;
$code-line-height: 1.8;

/** Common Styles **/

%embeddedContentHighlight {
    padding: 0.5em 1em;
    border-left: 2px solid $primary-colour;
}

/** General Text  **/

body {
    background: $text-background;
    color: $text-colour;
    font: $text-size $prose-family;

    @include for-tablet-landscape-up {
        font-size: $tablet-text-size;
    }
}

p, ul, ol, table {
    line-height: $text-line-height;

    @include for-tablet-landscape-up {
        line-height: $tablet-text-line-height;
    }
}

p {
    margin: 1em auto;
    @include for-tablet-landscape-up {
        margin: 1.5rem auto;
        line-height: $tablet-text-line-height;
    }
}

ul, ol {
    li p {
        margin: 0;
    }
}

a {
    color: $secondary-colour;

    &:hover {
        color: $primary-colour;
    }
}

hr {
    height: 3px;
    background: repeating-linear-gradient(
        90deg,
        $primary-colour 0px, $primary-colour 3px,
        transparent 3px, transparent 9px
    );
    border: none;
}

/** Code Listings **/

pre, code, .coderef {
    font-family: $code-family;
    font-size: $code-size;
    line-height: $code-line-height;

    @include for-tablet-landscape-up {
        font-size: $tablet-code-size;
    }
}

p > code {
    padding: 0 0.4em 0.1em 0.4em;
    line-height: 1;
    background-color: $code-inline-colour;
    border: 1px solid $code-inline-border-colour;
    border-radius: 8px;
}

pre, pre > code {
    overflow: scroll;
}

pre {
    @extend %embeddedContentHighlight;
}

.coderef {
    @extend %embeddedContentHighlight;

    &+ pre {
        margin-top: 0;
    }
}

/** Quotations **/

blockquote {
    margin: 0;
    @extend %embeddedContentHighlight;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

/** Tables **/

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;

    td, th {
        padding: 0.3em 1em;
        border-bottom: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;
        &:last-child { border-right: none; }
    }

    th {
        background: #f6f6f6;
        border-bottom: 1px solid #dbdbdb;
        &:first-child { border-radius: 3px 0 0 0; }
        &:last-child { border-radius: 0 3px 0 0; }
    }
}
