/* Constants */
$defaultWidth: 25px;
$defaultHeight: 20px;
$mobileScale: 2;

/* Sizes */
$width: $defaultWidth * $mobileScale;
$height: $defaultHeight * $mobileScale;

header {
	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: $height;
		font-size: 14pt;

		.logo, a { margin-right: 0.6em; }

		@include for-phone-landscape-up {
			.logo, a { margin-right: 1em }
		}

		.logo {
			width: $width;
			height: $height;
		}

		a {
			display: inline-block;
			text-decoration: none;
		}

		.icon {
			width: 1.2em;
			vertical-align: top;

			&.icon-sm {
				width: 1.1em;
			}
		}
	}
}
