<header>
    <nav>
        <a href="/">
            <img class="logo" src="/images/logo.svg" alt="Home" />
        </a>
        <div class="spacer"></div>
        <a href="/series">Series</a>
        <div class="additional-links">
            <a href="/rss.xml"><img class="icon" src="/images/icons/rss.svg" alt="RSS Feed" /></a>
            <a href="https://github.com/tinychameleon"><img class="icon icon-sm" src="/images/icons/github.svg" alt="tinychameleon's GitHub account" /></a>
        </div>
    </nav>
</header>
