.series-note {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;


    .content {
        padding: 1rem 2rem;
        background: $light-figure-background;
        border: 1px solid $table-border-colour;
        border-radius: 0.2rem;
        text-align: center;

        .paragraph:first-child {
            text-indent: unset;
            margin-bottom: 0;
        }

        .ulist {
            margin: 0;

            ul {
                display: flex;
                margin: 0;
                padding-left: 0;
                list-style: none;
            }

            li {
                flex: 1 1 0;
            }
        }
    }
}
