header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include for-tablet-landscape-up {
        flex-direction: row;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
    }

    > ul {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }
}
