.content.content-hidden {
    display: none;
}

.content-spoiler  {
    .spoiler-text {
        margin-top: 2rem;
        padding: 2rem;
        color: $light-background;
        border-radius: 0.3rem;
        background-color: $primary-accent-colour;
        text-align: center;

        h2 {
            margin-top: 0;
        }

        p {
            text-indent: initial;
        }
    }

    .spoiler-close {
        display: block;
        margin-top: 2rem;

        @include for-tablet-portrait-up {
            display: inline-block;
            margin-top: 1rem;
        }

        padding: 0.4rem 1rem;
        color: $light-background;
        border: 1px solid $light-background;
        border-radius: 0.3rem;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: $primary-accent-colour;
            background-color: $light-background;
        }
    }
}
