<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="{{ page.url | absolute_url }}">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:image" content="{{ '/assets/images/ogshare.png' | absolute_url }}">
        <meta property="og:description" content="{{ page.excerpt | strip_html | truncatewords: 50 }}">
        <meta property="og:type" content="website">
        <title>{{ page.title | default: site.title }} &mdash; {{ site.title_suffix }}</title>
        <link rel="stylesheet" media="screen" href="/assets/css/styles.css">
        <link rel="icon" href="/assets/images/favicon.ico">
    </head>
    <body>
        {% include global_header.html %}
        <main{% if page.kind %} class="{{ page.kind }}"{% endif %}>
            {{ content }}
        </main>
        {% include global_footer.html %}
    </body>
</html>
